<form id="ability-use-form">
    <p>{{ title }}</p>
    <p class="notes">{{note}}</p>
    <div class="form-group">
        <label class="checkbox">{{ localize "DND.AbilityUseConsume" }} <input type="checkbox" name="consume" checked/></label>
        {{#if hasPlaceableTemplate}}
        <label class="checkbox">{{ localize "DND.PlaceTemplate" }}
            <input type="checkbox" name="placeTemplate" checked/>
        </label>
        {{/if}}
    </div>
</form>
