<form id="spell-config-form">
    <p>{{ localize "DND.SpellCastHint" }} <strong>{{item.name}}</strong> {{ localize "DND.spell" }}.</p>

    {{#unless canCast}}
    <p class="notification error">{{ localize "DND.SpellCastNoSlots" }}</p>
    {{/unless}}

    <div class="form-group">
        <label>{{ localize "DND.SpellCastUpcast" }}</label>
        <div class="form-fields">
            <select name="level">
                {{#select item.data.level}}
                {{#each spellLevels as |l|}}
                <option value="{{l.level}}" {{#unless l.canCast}}disabled{{/unless}}>{{l.label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        {{#if canUpcast}}
        <label class="checkbox">{{ localize "DND.SpellCastConsume" }} <input type="checkbox" name="consume" {{checked canCast}}/></label>
        {{/if}}

        {{#if hasPlaceableTemplate}}
        <div class="form-group">
            <label class="checkbox">{{ localize "DND.PlaceTemplate" }}
                <input type="checkbox" name="placeTemplate" checked/>
            </label>
        </div>
        {{/if}}
    </div>
</form>
